* {
  box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  position: relative;
}

img {
  display: block;
}

.wrapper {
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  // outline: 2px solid red;
}

@mixin fontCopperplate {
  font-family: 'Copperplate', serif;
  font-weight: normal;
  font-style: normal;
}

@mixin title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #27353f;
  margin-top: 0;
  margin-bottom: 0;
}

@mixin title-mob {
  font-size: 36px;
  line-height: 44px;
}

@mixin subtitle {
  font-size: 18px;
  line-height: 18px;
  color: #27353F;
  text-align: center;
  position: relative;
  margin-top: 16px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 370px;

  &::before {
    content: "";
    position: absolute;
    background: #27353f;
    width: 40px;
    height: 1px;
    top: 50%;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background: #27353f;
    width: 40px;
    height: 1px;
    top: 50%;
    right: 0;
  }
}

@mixin subtitle-mob {
  font-size: 14px;
  line-height: 100%;
  max-width: 270px;
}